{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/jquery.min.js">
    </script>

    <link href="/static/addGame/styles.css" rel="stylesheet" />

    <script type="text/javascript" src="/static/getCookie.js">        
    </script>

    <script type="text/javascript" src="/static/addGame/scripts.js">        
    </script>

{% endblock %}

{% block content %}

<form method="POST" action="/addGameProcess/" class="form-horizontal">
    {% csrf_token %}
    
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <input type="button" id="magic" class="btn btn-default pull-9" value="Submit" />
        </div>
    </div>
    
    <div id="categories">
        <div class="row">

            <div class="col-sm-10">
                <select id="categorySelect" class="form-control tenMargin">
                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-2">
                <div class="btn-group btn-group-justified tenMargin">
                    <div class="btn-group">
                        <input type="button" id="addCategory" class="btn btn-default pull-9" value="Add category" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>

{% endblock %}