{% extends "base.html" %}

{% block head %}
        
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Statement
            </th>
            <th>
                Answer
            </th>
            
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>
                    {{ question.price }}
                </td>
                <td>
                    {{ question.category.title }}
                </td>
                <td>
                    {{ question.statement }}
                </td>
                <td>
                    {{ question.answer }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}