{% extends "base.html" %}

{% block content %}

<form method="POST" action="/signInProcess/">
    {% csrf_token %}
    <div class="form-group">
        <label>
            Username
        </label>
        <input type="text" name="username" class="form-control"/>
    </div>

    <div class="form-group">
        <label>
            Password
        </label>
        <input type="password" name="password" class="form-control"/>
    </div>
    
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <input type="submit" id="magic" class="btn btn-default pull-9" value="Submit" />
        </div>
    </div>
    
</form>

{% endblock %}